After creating and activating the virtual environment, install of the dependencies <br>
needed for this project:

In [ ]:
pip install yfinance pandas numpy matplotlib streamlit

In [2]:
# 'yfinance' is a third-party Python library that provides a convenient wrapper
# around Yahoo Finance's publicly available market data.
import yfinance as yf

# Ticker is a class provided by the yfinance library.
# It represents a single financial instrument identified by its ticker symbol.
ticker = yf.Ticker("GOOGL")

# Fetch historical market data for the specified time range.
# period="5y" requests approximately five years of historical data.

# interval="1d" specifies daily price data for each trading day.
df = ticker.history(period="5y", interval="1d")

# Display the resulting DataFrame, which typically includes:
# Open, High, Low, Close, Volume, Dividends, and Stock Splits
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-01-28 00:00:00-05:00,90.863465,93.691591,90.863465,91.965141,55278000,0.0,0.0
2021-01-29 00:00:00-05:00,91.013319,91.684252,89.402496,90.682816,44530000,0.0,0.0
2021-02-01 00:00:00-05:00,91.537869,95.058767,91.537869,93.943695,40252000,0.0,0.0
2021-02-02 00:00:00-05:00,94.939174,96.737582,94.603703,95.236427,66332000,0.0,0.0
2021-02-03 00:00:00-05:00,102.505999,104.541121,99.922514,102.172020,97882000,0.0,0.0
...,...,...,...,...,...,...,...
2026-01-22 00:00:00-05:00,334.450012,335.149994,328.750000,330.540009,26253600,0.0,0.0
2026-01-23 00:00:00-05:00,332.489990,333.690002,327.450012,327.929993,27280000,0.0,0.0
2026-01-26 00:00:00-05:00,327.809998,335.839996,327.000000,333.260010,26042100,0.0,0.0
2026-01-27 00:00:00-05:00,335.369995,337.910004,333.480011,334.549988,21636200,0.0,0.0
2026-01-28 00:00:00-05:00,335.690002,337.279999,331.940002,336.980011,18405495,0.0,0.0

In [ ]:
def validate_price_data(df):
    """
    Validate and sanitize raw price data returned from a market data provider.

    Ensures:
    - Data is not empty
    - Required OHLCV columns are present
    - Rows with missing values are removed

    Returns a cleaned DataFrame safe for downstream calculations.
    """
    if df.empty:
        # Raise an exception if the provider returned no data.
        raise ValueError("No data returned.")

    # Python sets are unordered data structures, and do not store duplicate values.
    required_cols = {"Open", "High", "Low", "Close", "Volume"}

    # 'df' holds a reference to a pandas DataFrame.
    # The .columns property will return an Index object which contains all the
    # column names in that DataFrame.

    # .issubset() this is a set method.
    # Returns True if all elements in required_cols are in df.columns.
    # Otherwise, it returns False.

    # The 'not' operator reverses the logical truth of an operand.

    # Ensure all required columns are present before proceeding.
    if not required_cols.issubset(df.columns):
        raise ValueError("Missing required columns")

    # Drop rows in the DataFrame where any columns contains 'NaN'.
    # to prevent incorrect calculations.
    df = df.dropna()

    return df